input:not([type]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{ margin-bottom: 0; }
.input-field{ margin-bottom: 20px;}
.invalid-feedback{ color: red; margin-left: 45px; }
.forgot-password{ text-align: right !important; }
.nav-link{ margin: 0 !important; }
.sigin-submit{ margin-top: 20px; }
.full-top-nav .nav-wrapper #top-nav-userProfile{ height: 225px;}
.input-field input[type="text"], .input-field input[type="email"], .input-field input[type="password"]{ color: #000000 !important; }\
.clearfix{ clear: both;}